*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #242423;
}
body{
    width: 100%;
    min-width: 320px;
    height: auto;
}
.title{
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    color: #f2e8cf;
}
.random__dogs{
    width: 100vw;
    height: fit-content;;
    margin-top: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.subtitle{
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 45px;
    color: #f2e8cf;
}
.articles{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    align-items: center;
    justify-items: center;
}
.container{
    width: 300px;
    height: 450px;
    background-color: #a7c957;
    border: solid 2px #386641;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
}
.container__image{
    width: 100%;
    height: 80%;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 500px;
    border-top-radius: 16px;
    border-bottom: solid 2px #386641;
}
.container__footer{
    width: 100%;
    height: auto;
    background-color: #a7c957;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__footer--button{
    width: auto;
    height: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bc4749;
    border: solid 2px #386641;
    color: #242423;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in-out;
}
.load__button{
    width: auto;
    height: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bc4749;
    color: #242423;
    border: solid 2px #242423;
    padding: 10px;
    border-radius: 12px;
    margin-top: 60px;
    align-self: center;
    transition: all 0.25s ease-in-out;
}
.container__footer--button:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}
.load__button:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}
.favorite__dogs{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
}
.favorite__dogs article{
    width: 300px;
    height: 450px;
    background-color: #a7c957;
    border: solid 2px #386641;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.5);
}
.favorite__dogs img{
    width: 100%;
    height: 80%;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 500px;
    border-top-radius: 16px;
    border-bottom: solid 2px #386641;
}
.favorite__dogs article div{
    width: 100%;
    height: auto;
    background-color: #a7c957;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite__dogs button{
    width: auto;
    height: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bc4749;
    border: solid 2px #386641;
    color: #242423;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in-out;
}
.favorite__dogs button:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}
.upload{
    width: 100vw;
    height: fit-content;
    margin-top: 35px;
}
.container__form{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload__form{
    height: 250px;
    width: 350px;
    border: 3px solid #f2e8cf;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.upload__form--input{
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 12px;
    color: #f2e8cf;
    font-size: 14px;
    padding: 8px;
}
.upload__form--button{
    width: auto;
    height: 45px;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bc4749;
    color: #242423;
    border: solid 2px #242423;
    padding: 10px;
    border-radius: 12px;
    margin-top: 30px;
    align-self: center;
    transition: all 0.25s ease-in-out;
}
.upload__form--button:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}